.App {
  text-align: center;
  padding-top: 3rem;
}

/*.App-starting-blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
}*/

.leftBlocks {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: grid;
  overflow: auto;
  border: solid 2px #d0d0d0;
  border-radius: .2em;
  align-items: left;
}

.rightBlocks {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: grid;
  overflow: auto;
  border: solid 2px #d0d0d0;
  border-radius: .2em;
  align-items: right;
}

.blocks {
  list-style: none;
  display: flex;
  padding: grid;
  overflow: auto;
  border: solid 2px #d0d0d0;
  border-radius: .2em;
}

.blocks li {
  display: flex;
  align-items: center;
  border: solid 2px #d0d0d0;
  border-radius: .2em;
  padding: .5em .8em .5em .5em;
  margin-bottom: 1em;
}

.blocks p {
  max-width: none;
  font-weight: bold;
  margin: 0;
}